*{
    margin: 0;
    padding: 0;
    list-style: none;
}
html,body{
    width: 1346px;
    margin: auto;
    height: 100%;
}

#nav1 span{
    font-size: 32px;
}
header{
    /*border: 2px solid red;*/
    width: 1346px;
    height: 150px;
}
/*��ɫ����*/
.fontcolor{
    color: grey;
}
/*��ɫ�±߿�*/
.borderColor{
    width: 630px;
    padding-bottom: 5px;
}
#nav1{
    /*border: 2px solid green;*/
    width: 800px;
    height: 130px;
    margin: auto;
    font-size: xx-large;
}
#nav1>ul{
    height: 130px;
    line-height: 130px;
}
#nav1 li{
    float: left;
}
#nav1 a{
    text-decoration: none;
    color: black;
}
#nav1 li:nth-of-type(2){
    padding-left: 320px;
    padding-right: 300px;
}
#nav1 li:nth-of-type(4){
    padding-left: 15px;
}
header hr{
    width: 1346px;
}
section{
    background-image: url("../imgs/imgF/shoppingbg/diorbg.jpg");
    width: 1346px;
    height: 700px;
}
section>div{
    width: 1210px;
    height: 700px;
    margin: auto;
}
#left{
    width: 800px;
    height: 700px;
    float: left;
    background-color: rgb(245,245,245);
}
#bk{
    width: 780px;
    margin: auto;
}
#nav2{
    width: 630px;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 44px;
}
#nav2>ul{
    width: 447px;
    height: 80px;
    margin: auto;
}
#nav2 li:nth-of-type(2){
    float: left;
    height: 80px;
    margin-top: 40px;
    padding-left: 110px;
    padding-right: 110px;
    font-size: x-large;
    color: grey;
}
#nav2 li{
    float: left;
    height: 80px;
    margin-top: 40px;
    /*padding-left: 50px;*/
    /*padding-right: 50px;*/
    font-size: x-large;
    color: grey;
}
#bk>div:nth-of-type(1){
    padding-left: 15px;
    width: 615px;
    height: 44px;
    line-height: 44px;
    color: black;
    /*border: 2px solid deeppink;*/
    font-size: 18px;
    margin-bottom: 34px;
}

#bk>hr:nth-of-type(1){
    margin-top: 5px;
}
#bk>div:nth-of-type(3){
    width: 780px;
    height: 35px;
    margin-top: 10px;
    text-align: right;
}

#bk+div h4{
    float: left;
    color: dimgrey;
}
#bk+div input{
    float: left;
    outline: none;
    background: #ccc;
    border-radius:10px;
    padding: 5px 20px;
    border:none;
    height: 20px;
    margin-right: 50px;
}
#bk+div button{
    float: left;
    outline: none;
    padding: 5px 10px;
    border: none;
    height: 30px;
    background: grey;
    color: white;
    border-radius:10px;
}


/*<!-- �ܽ��-->*/

#zhifu ul{
    height: 150px;
}
#zhifu li{
    float: left;
    width: 300px;
    height: 50px;
    margin-left: 10px;

}
#gouwu{
    width: 780px;
    height: 40px;
    padding-top: 10px;
    background-color: rgb(245,245,245);
}
#gouwu a{
    color: white;
    text-decoration: none;
}
#gouwu div{
    background-color: dimgrey;
    color: white;
    width: 100px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 15px;
    float: right;
}
#xinxi{
    background-color: white;
}
#xinxi ul{
    height: 200px;
    width: 780px;
}
#xinxi li{
    float: left;
    width: 220px;
    margin: 50px 20px;
    color: dimgrey;
}
#xinxi li>h3{
    margin-bottom: 20px;
}
/*div-right*/
#right{
    width: 400px;
    height: 500px;
    float: right;
}
#right>div{
    margin-bottom: 5px;
    border: 1px solid white;
    background:  rgb(245,245,245);
}
#right div>p:nth-of-type(1){
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 18px;
}

#right span{
    font-size: 16px;
    color: grey;
}
#right div>p:nth-of-type(2){
    margin-top: 10px;
    font-size: 14px;
}
#right div:nth-of-type(1){
    height: 300px;
}
#right div:nth-of-type(2){
    height: 200px;
}
/*ҳ��*/
footer{
    width: 1346px;
    height: 330px;
    text-align: center;
}
footer ul{
    margin: 40px 0;
}
footer li{
    /*height: 330px;*/
    width: 300px;
    float: left;
    margin: 0 50px;
}
#firstLi>ul>li:first-child{
    margin-top: 60px;
    font-size: 20px;
    margin-bottom: 16px;
}
#firstLi select{
    padding: 15px 50px;
    border: 0;
    outline: none;
}
#secondLi ul:first-child li{
    text-decoration: underline;
    padding: 3px;
}

#secondLi ul:nth-of-type(2){
    text-align: left;
    font-size: small;
    color: rgba(0,0,0,0.6);
}
#secondL ul:nth-of-type(1) li{
    margin-bottom: 10px
}
#thirdLi>ul>li:first-child{
    margin-top: 60px;
    font-size: 14px;
}
#weibo{
    font-size: 40px;
}
#weibo{
    font-size: 40px;
}
#weixin1{
    font-size: 40px;
}
#background{
    width: 260px;
    height: 50px;
    background: white;
    border-radius: 25px;
    border: 2px solid;
}