/*
 * Return the rem of a pixel's value
 *
 * Sample: pxToRem(50)
 * Result: 3.125rem
 */
/*
 * Return the percent ratio from width and height
 *
 * Sample: ratio(16, 9)
 * Result: 56.25%
 */
/*
 * Return the rem of a pixel's value
 *
 * Sample: pxToRem(50)
 * Result: 3.125rem
 */
/*
 * Return the percent ratio from width and height
 *
 * Sample: ratio(16, 9)
 * Result: 56.25%
 */
.toggle-wishlist {
  background: transparent;
  border: 0;
  z-index: 1; }
  .toggle-wishlist .icon {
    display: flex; }
  .toggle-wishlist svg {
    height: 1.25rem;
    width: 1.25rem; }

