<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        div{
            width: 50px;
            height: 50px;
            border: 1px solid burlywood;
            background: #17a2b8;
        }
    </style>
</head>
<body>
<%- include('header')%>
<div></div>

<script></script>
</body>
</html>